
{% extends "base.html" %} 
{% block title %}Liste todo{% endblock title %} 
{% block content %} 
<div class="jumbotron text-center">
	<h1>Mes Todo</h1>
	<p>
		La liste
	</p>
</div>

<div class="container">
	<div class="row">
		<div class="col-12 col-md-6">
			<a role="button" class="btn btn-primary" href="#"><i class="fa fa-plus"></i> Ajouter un todo</a>
			<h2>Liste filtrable</h2>
		  	<p>Tapez quelque chose dans le champ de saisie pour rechercher un todo :</p>  
		  	<input class="form-control" id="myInput" type="text" placeholder="Rechercher..">
		  	<br>
			<ul class="list-group" id="mesdata">
				<li class="list-group-item d-flex justify-content-between align-items-center">    
					<a href="#"> <strong> Inbox  </strong></a>  <span class="badge badge-pill"><a  class="p-1 py-0 btn btn-info" href="#"><i class="fa fa-check"></i></a>&nbsp;<a  class="p-1 py-0 btn btn-danger" href="#"><i class="fa fa-trash"></i></a></span>
				</li>
				<li class="list-group-item d-flex justify-content-between align-items-center">    
					<a href="#"> <strong> Mouddsd</strong></a>    <span class="badge badge-pill"><a  class="p-1 py-0 btn btn-info" href="#"><i class="fa fa-check"></i></a>&nbsp;<a  class="p-1 py-0 btn btn-danger" href="#"><i class="fa fa-trash"></i></a></span>
				</li>
				<li class="list-group-item d-flex justify-content-between align-items-center">    
					<a href="#"> <strong> Inbox  </strong></a>  <span class="badge badge-pill"><a  class="p-1 py-0 btn btn-info" href="#"><i class="fa fa-check"></i></a>&nbsp;<a  class="p-1 btn btn-danger" href="#"><i class="fa fa-trash"></i></a></span>
				</li>
			</ul>
		</div>
	</div>
</div>	
{% endblock content %}